/* CSS Document */

@font-face
{
	font-family:Lato;
	src:url(‘../view/fonts/lato-black.ttf’) format(‘truetype’);
	font-weight:normal;
 	font-style:normal;
}

body
{
	font-family:Lato, Arial, Helvetica, sans-serif;
	color:#3e404c;
    margin:auto;
    background:url(../images/polygon.png);
}

.header1

{
	
	height:50px;
	background:#f3f4f6;
}


.hc1 p:first-child
{
	text-indent:120px;
	float:left;
	margin-right: 20px;
	line-height:40px;
        
}

.hc1 p:first-child a
{
	
        text-decoration: none;
}

.hc1 p:last-child
{
	float:left;
	margin-right: 20px;
	line-height:40px;
}

.header2

{
	
	height:135px;
    clear: both;
}

.header2 img

{
	width:70px;
	height:50px;
	float:left;
	margin-left:100px;
}
.header2 p:last-child

{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:40px;
	color:#94bf52;
	font-weight:bold;
}

.hd2c1

{
	margin-top:40px;
}



.hd2c2 ul

{
	list-style-type:none;
	margin-top:50px;
	float:left;
	
}

.hd2c2 ul li

{
	display:block;
	padding-left:20px;
	float:left;
	font-family:Lato, Arial, Helvetica, sans-serif;
}

.hd2c2 li a

{
	font-weight:bold;
	font-family:Lato, Arial, Helvetica, sans-serif;
	color:#3e404c;
	font-size:22px;
}

.hd2c2 li a:hover

{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.35s ease;
	 -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
	color:#94bf52;
	text-decoration:none;
	
}

.hd3c1

{
	height:350px;
	background: -webkit-radial-gradient(60% 100%, ellipse cover, #ffff2b 0%,#abdc28 62%);
	background: -moz-radial-gradient(60% 100%, ellipse cover, #ffff2b 0%,#abdc28 62%);
	/*background: -webkit-radial-gradient(center, ellipse cover, #d2ff52 0%,#91e842 0%);
	background: -moz-radial-gradient(center, ellipse cover, #d2ff52 0%, #91e842 100%);
	background: radial-gradient(ellipse at center, #d2ff52 0%,#91e842 100%);*/
}

.hd3c1 h1
{
	margin-left: 120px;
	font-family:Lato, Arial, Helvetica, sans-serif;
	line-height:25px;
}

.hd3c1 p
{
	margin-left: 120px;
	font-family:Lato, Arial, Helvetica, sans-serif;
	margin-top:12px;
	color:#fff;
}

.hd3c1 h1:first-child

{
	margin-top: 50px;
}

.hd3c1 button

{
	margin-left: 120px;
}


.hd3c1 img

{
	margin-top:-250px;
	float:right;
	margin-left: 120px;
}

.lastsection

{
    width: 100%;
	height:500px;
	color:#312E33;
}

.lastsection h1

{
	margin-top:70px;
	color:#312E33;
	text-align:center;
	font-weight:bold;
}


.lastsection p

{
	text-align:center;
	margin-top:40px;
	font-size:20px;
}


.menuf

{
	float:right;
	margin-right:15px;
	list-style:none;

}

.menuf ul li

{
	display:block;
	font-family:Lato, Arial, Helvetica, sans-serif;
}


.menuf li a

{
	font-family:Lato, Arial, Helvetica, sans-serif;
	color:#3e404c;
	font-size:12px;
}

.menuf li a:hover

{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.35s ease;
	 -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
	color:#94bf52;
	text-decoration:none;
	
}

#clrf1

{
	width:150px;
	height:300px;
	float:left;
	margin-top:20px;
	margin-left:200px;
}

#clrf1 h3

{
	float:right;
}

#clrf1 p

{
	clear:both;
}


#clrf2

{
	width:200px;
	height:300px;
	float:left;
	margin-top:20px;
}

#clrf2 h3

{
	float:right;
}


#clrf3

{
	width:250px;
	height:300px;
	float:left;
	margin-top:20px;
	margin-left:200px;
}

#clrf3 h3

{
	margin-left:40px;
	float:left;
}

.rfooter2

{
	height:100px;
	border: 1px solid #f3f4f6;
}

.rfooter2 p

{
	margin-left:280px;
	margin-top:40px;
}

.nutchonswitch1

{
	width:32px;
	height:32px;
}

.title

{
	margin-top:40px;
	margin-bottom:0px;
	font-weight:bold;
	color:#94bf52;
	text-align:center;
}

.titles

{
	margin-top:10px;
	margin-bottom:0px;
	font-weight:bold;
	color:black;
	text-align:center;
}

.section1cg

{
  margin-top: 20px;
  min-height: 750px;
}


.nutxoa:hover

{
 text-decoration: none;
}

.fg
{
    margin-left:20px;
}

.fglb p
{
    font-weight: bold;
}

.fgi
{
   width: 470px; 
   height: 30px;
}

.confirm

{
    margin-top: 40px;
    margin-left: 160px;
}

.phanloai

{
   float:left;
   margin-left:20px;
}

.phanloai ul li

{
   width:80px;
   margin-left:10px;
}

.rowgiohang
{
    margin-top: 20px;
    min-height: 750px;
}


.login-left {
	background: url(../images/bg-login.gif) no-repeat right bottom #ffffff;
	border: 1px solid #ececec;
	padding: 20px;
	min-height: 343px;
	width:49%;
	margin-right:2%;
}
.login-right {
	background: url(../images/bg-login-2.gif) no-repeat right bottom #ffffff;
	border: 1px solid #ececec;
	padding: 20px;
	min-height: 343px;
	width:49%;
}
.login-left h3, .login-right h3 {
	color:#000;
	font-size: 1.5em;
	padding-bottom: 0.5em;
	font-weight:600;
}
.login-left p, .login-right p {
	color: #555;
	display: block;
	font-size: 0.9em;
	margin: 0 0 2em 0;
	line-height: 1.5em;
}
.acount-btn {
	background: #3498db;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.form-list label {	
	color: #000;
	font-weight: bold;
	position: relative;
	z-index: 0;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 0;
}
.sgn {
	width: 100%;
}
.sgn input#is_subscribed {
	float: left;
	width: 2%;
}
.sgn label {
	width: 50%;
	margin-top: 6px;
}
.form-list li.control input.radio, .form-list li.control input.checkbox {
	margin-right: 6px;
}
.main-container .radio, .main-container .checkbox {
display: inline-block;
margin-top: 0;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#000;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 2em 0;
}
.login-right span {
	color: #555;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}
.login-right input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#3498db;
	width: 96%;
	font-size:0.8125em;
	padding: 0.5em;
}
.login-right input[type="submit"] {
	background: #3498db;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
a.forgot {
	font-size: 1em;
	margin-right: 11px;
}
.reg_fb {
	margin-right: 4%;
	display: block;
	background: #1A367D;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 48%;
	float: left;
	margin-bottom: 10px;
}
.reg_fb img {
	background:#1A367D;
	padding: 5px;
	float: left;
	border-right:2px solid #07205F;
}
.reg_fb i {
	color: #fff;
	padding: 5px 10px 0 0;
	display: inline-block;
	font-size: 1.1em;
	text-transform: capitalize;
	font-style: normal;
}
.login h5 {
	color: #000;
	font-size: 14px;
	font-weight: 700;
	margin: 9px 0 13px 0;
}
.require {
	color: #F00;
	font-size: 11px;
}
.cus_info_wrap label {
	float: left;
	display: block;
	font-size: 15px;
	padding: 3px 0 0;
}
.cus_info_wrap {
	margin-bottom: 20px;
	padding: 0 25px;
}
.cus_info_wrap input[type="text"] {
	width: 71%;
	padding: 4px;
	font-size: 13px;
	font-weight: 400;
	border:1px solid #D6D6D6;
	outline:none;
}
.cus_info_wrap input[type="password"] {
	width: 71%;
	padding: 4px;
	font-size: 13px;
	font-weight: 400;
	border: 1px solid #D6D6D6;
	outline: none;
}
.botton{
	background: #175ed4;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	border: 0;
	color: #fff;
	font-weight: 700;
	height: 31px;
	font-size: 14px;
	text-transform: uppercase;
	width: 100px!important;
	text-align: center;
}
.labelTop.confirmpass {
	line-height: 1;
	margin-top: -4px;
}
.sign-up{
	border: 1px solid #D6D6D6;
	border-left:none;
	padding: 2em 0 0 0;
	min-height: 480px;
	width: 38%;
}
.sign-up h4{
	margin-bottom:2em;
}
.forgetit a {
	color: #000;
	font-size: 13px;
	display: block;
	float: left;
	margin-bottom: 0.5em;
	text-decoration:none;
}
.forgetit input[type="text"] {
	width: 71%;
	padding: 7px;
	font-size: 11px;
	text-align:left;
	font-weight:400;
	border: 1px solid #D6D6D6;
	outline: none;
	margin: 0px -4px 0 0;
}
.forgetit {
	padding: 25px 9em 0 24px;
	border-top: 1px solid #B6B6B6;
	margin-top: 2em;
}
.login {
	border: 1px solid #D6D6D6;
	padding: 2em 0 0 0;
	min-height: 480px;
	width: 38%;
        margin-left:150px;
	margin-right:40px;
}
.botton1 {
	margin-left: 12em;
	margin-top: 0em;
        text-align: center; 
}
.labelTop {
	display: block;
	font-weight: bold;
	text-align: left;
	color: #444;
	float: left;
	width: 29%;
}
.reg_gp {
	display: block;
	background: #DD4B39;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 48%;
	float: left;
	margin-bottom: 10px;
}
.reg_gp img {
	background:#DD4B39;
	padding: 5px;
	float: left;
	border-right:2px solid #D14A3A;
}
.reg_gp i {
	color: #fff;
	padding: 5px 10px 0 0;
	display: inline-block;
	font-size: 1.1em;
	text-transform: capitalize;
	font-style: normal;
}
.checkbox {
	font-size: 0.85em;
	margin-top: 0px;
}
.checkbox input[type="checkbox"]{
	float: left;
	margin-left: 116px;
	margin-right: -105px;
}
section#main {
	margin: 0 0 5em 0;
}
ul.breadcrumbs{
	padding:0;
	list-style:none;
	float:left;
}
ul.breadcrumbs li{
	display:inline-block;
	font-size:1.1em;
	color:#000;
}
ul.breadcrumbs li.women{
	background:#ffd400;
	padding:3px;
}
ul.previous{
	padding:0;
	list-style:none;
	float:right;
}
ul.previous li a{
	font-size: 0.89em;
	color: #000;
}
.dreamcrub{
	margin: 4em 0 2.5em 0;
	border: 1px solid #D6D6D6;
	padding: 12px 15px; 
}
li.home a img {
	margin: 0 0 4px 0px;
}

.btnlogin

{
    margin-right : 70px;
}

.btnregis

{
    margin-right : 50px;
}

.leftap
{
    width:50%;
    height:200px;
    padding-right: 6px;
    border-right: 1px solid white;
    float:left;
}

.leftap p
{
    text-align: left;
}

.rightap
{
    float:left;
    width:50%;
    height:200px;
}

.rightap p
{
  text-align: center;
}


.ct1
{
  margin-top:40px; 
  height:350px;
}
.picct
{
    width:30%;
    height:300px;
    padding :10px 10px;
    border : 1px solid silver;
    float:left;
}

.picct img
{
    width:100%;
    height:100%;

}

.titlect
{
    width:45%;
    height:300px;
    float:left;
    margin-left: 40px;
}

.titlect h1
{
   margin-top:0px;
}